.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 100%;
  margin: auto;
  grid-gap: 3.8rem;
  justify-items: center;
  padding-bottom: 3rem;

  @media (max-width: 650px) {
    grid-gap: 2rem;
    padding: 0 1.5rem;
  }
  @media (max-width: 350px) {
    display: block;
  }
}
