.search {
  margin: 2rem;
  padding: 1rem;
  width: 40%;
  margin-left: 7.32rem;

  border: #c4c4c4 solid 1px;
  border-radius: 4px;
  outline: none;
  text-align: left;
  box-shadow: 3px 3px 3px #52525246;
}
