.header-container {
  padding: 1rem 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
  }

  h1 {
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 0.8rem 0;
  }

  .dark-mode-btn {
    border: none;
    background: none;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &.is-dark-mode {
    color: white;
    background-color: hsl(209, 23%, 22%);

    h1 {
      color: white;
    }

    .dark-mode-btn {
      color: white;
    }
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 350px) {
    h1 {
      font-size: 1rem;
    }
    .dark-mode-btn {
      font-size: 0.8rem;
    }
  }
}
